NODE_ENV=development
PORT=3002
API_PREFIX=api
API_VERSION=1
LOG_LEVEL=log
CORS_ORIGINS=http://localhost:3000

# Neon PostgreSQL
DATABASE_URL=postgresql://username:password@host.neon.tech/dbname?sslmode=require
DB_SSL=true
DB_POOL_MAX=10
DB_POOL_IDLE_MS=30000
